<div class="container w-75 mt-4" xmlns:th="http://www.thymeleaf.org">
    <th:block th:if="${hasError}">
        <div th:text="${error}"></div>
    </th:block>
    <div th:if="${primaryAccountList.size() == 0}">
        <span class="text-info">Sorry you cannot make any transfers because you are the only account on this e-banking system</span>
    </div>
    <div th:if="${primaryAccountList.size() > 0}">
        <form method="post" action="/transfer">
            <div class="form-group">
                <h4>From Account: <span class="text-info" th:text="${primaryAccount.getNumber()}"></span></h4>
            </div>
            <div class="form-group">
                <label>To Account:
                    <select class="form-control" name="toAccountId">
                        <option
                                th:each="pt : ${primaryAccountList}"
                                th:text="${pt.getNumber()}"
                                th:value="${pt.getId()}">
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="description">Description for transfer</label>
                <input class="form-control" type="text" id="description" name="description"
                       placeholder="Why do you transfer money to this account?">
            </div>
            <div class="form-group">
                <label for="transferAmount">Transfer amount</label>
                <input class="form-control" type="number" id="transferAmount" name="transferAmount">
            </div>
            <a href="/" class="btn btn-info" type="submit">Back</a>
            <button class="btn btn-info" type="submit">Transfer</button>
        </form>
    </div>
</div>