<div class="container w-75 mt-4" xmlns:th="http://www.thymeleaf.org">
    <form method="post" action="/home/add">

        <div class="form-group w-50">
            <label>Choose account to add money:
                <select name="id" class="form-control" required>
                    <option
                            th:each="pt : ${primaryAccountList}"
                            th:text="${pt.getNumber()}"
                            th:value="${pt.getId()}">
                    </option>
                </select>
            </label>
        </div>

        <div class="form-group w-25">
            <label for="ballance">Add Balance</label>
            <input type="number" id="ballance" name="ballance" required class="form-control">
        </div>
        <a href="/" type="submit" class="btn btn-info">Back</a>
        <button type="submit" class="btn btn-info">Add Amount</button>

    </form>
</div>