<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>

    <h3>Welcome to online banking <th:block th:text="${user.getUsername()}"></th:block></h3>
    <h2>
    <th:block th:if="${hasMessage}">
        <div th:text="${message}"></div>
    </th:block>
    </h2>
    <p>Information about account <th:block th:text="${user.getPrimaryAccount().getNumber()}"></th:block></p>
    <div>
        <div>First Name: <th:block th:text="${user.getFirstName()}"></th:block></div>
        <div>Last Name: <th:block th:text="${user.getLastName()}"></th:block></div>
        <div>Primary Account Number: <th:block th:text="${user.getPrimaryAccount().getNumber()}"></th:block></div>
        <div>Primary Account Balance: <th:block th:text="${user.getPrimaryAccount().getAccountBalance()}"></th:block></div>
    </div>
    <div>
        <a th:href="@{'/transfer/{id}' (id=${user.getPrimaryAccount().getId()})}">Transfer money</a>
    </div>
    <div>
        <a th:href="@{'/transactions/{id}' (id=${user.getPrimaryAccount().getId()})}">Transactions</a>
    </div>
    <h3>Add money to your account</h3>
    <div>
        <a th:href="@{'/home/add/{id}' (id=${user.getPrimaryAccount().getId()})}" type="button">ADD MONEY TO ACCOUNT</a>
    </div>
    <a href="/logout">LOGOUT</a>
</body>
</html>