<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h3 class="mt-4">Transactions for <span class="text-info" th:text="${primaryAccountNumber}"></span></h3>
    <div th:if="${transactionsList.size() == 0}">
        <h2 class="text-info">No transactions found for this account</h2>
    </div>
    <div th:if="${transactionsList.size() > 0}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>From Account</th>
                <th>To Account</th>
                <th>Transfer Amount</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${transactionsList}">
                <td>
                    <th:block th:text="${t.getDate().toString()}"></th:block>
                </td>
                <td>
                    <th:block th:text="${t.getFromAccount().getNumber()}"></th:block>
                </td>
                <td>
                    <th:block th:text="${t.getToAccount().getNumber()}"></th:block>
                </td>
                <td>
                    <th:block th:text="${t.getAmount()}"></th:block>
                </td>
                <td>
                    <th:block th:text="${t.getDescription()}"></th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/home" class="btn btn-info">Back</a>
</div>