<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TRANSFER</title>
</head>
<body>
    <th:block th:if="${hasError}">
        <div th:text="${error}"></div>
    </th:block>
    <form method="post" action="/transfer">
        <div>From Account: <th:block th:text="${primaryAccount.getNumber()}"></th:block></div>
        <div>
        <label>To Account: </label>
        <select name="toAccountId">
            <option
                    th:each="pt : ${primaryAccountList}"
                    th:text="${pt.getNumber()}"
                    th:value="${pt.getId()}">
            </option>
        </select>
        </div>
        <div>
            <label for="transferAmount">Transfer amount</label>
            <input type="number" id="transferAmount" name="transferAmount">
        </div>
        <button type="submit">TRANSFER</button>
    </form>
</body>
</html>