<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img th:src="@{/Users/retina/EBanking/e-banking-app/src/main/resources/assets/logo.png}"
                 width="30"
                 height="30"
                 class="d-inline-block align-top">
            <span class="ml-2">OBS</span>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link"
                       sec:authorize="isAuthenticated()">Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/login" class="nav-link text-info"
                       sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link text-info"
                       sec:authorize="!isAuthenticated()">Register</a>
             </li>
<!--             <li>-->
<!--                 <a href="/logout" class="nav-link text-info"-->
<!--                    sec:authorize="isAuthenticated()">Logout</a>-->
<!--          </li>-->
      </ul>
  </div>
</nav>
</div>